*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container_Inscri{
    width: 100%;
    display: flex;
    justify-content: center;

}
.container_Inscri .section_Inscri{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:blanchedalmond;
    height: 30rem;
    width: 30rem;
    margin-top: 13rem;

    border-radius: 10px;
}

.container_Inscri .section_Inscri form{
    padding: 40px;
}

.container_Inscri .section_Inscri form p{
    font-size: 20px;
    font-weight: bold;
}

.container_Inscri .section_Inscri form .top{
    margin-top: 1rem;
}


.container_Inscri .section_Inscri form input{
    width: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
    padding: 10px;
   
}

.titreForm {
    margin-bottom: 3rem;
}


.container_Inscri .section_Inscri form button{
    width: 20rem;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: black;
    color: white;
}

