*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.seconde{
    border: 1px solid black;
    height: 3rem;
    width: 15rem;
    position: absolute;
    margin-top: -12.5rem;
    margin-left: 2rem;
    padding: 13px;
    border-radius: 10px;
    background: rgb(203, 203, 203);
}
.seconde_cadre{
    display: flex;
    justify-content: center; 
}
.seconde_cadre p{
    font-size: 17px;
    font-weight: bold;
}